@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient_color {
    background: linear-gradient(118.19deg, #1FA2FF -3.62%, #12D8FA 50.44%, #A6FFCB 104.51%),
      linear-gradient(0deg, #F1F2FF, #F1F2FF);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }

  /* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #afb2bf;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 7px;
}

*::-webkit-scrollbar-track {
  background: #000814;
}

*::-webkit-scrollbar-thumb {
  background-color: #afb2bf;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #767986f5;
}